html, body{
    margin: 0;
    height: 100vh; 
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container{
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    box-shadow: 1px 5px 18px 5px #e3e3e3; 
    border-radius:15px; 
    padding:1em;
}

.group-container{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    background-color: aquamarine;
}

.button-container{
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
    color: #3F3D56;
    border-bottom: 1px #f0eded solid;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

label{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

input{
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #484d50 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;
}

button{
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #3F3D56;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: inherit;
    font-size: 25px;
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}

a:hover{
    text-decoration: underline;
}

button:hover{
    transform: scale(1.03);
}

.btn-cancelar:hover{
    background-color: red;
}

.btn-cadastrar:hover{
    background-color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.list-link{
    margin-top: 50px;
}

li{
    list-style: none;
}

ul{
    margin: 10px;
    padding: 0;
}

.list-container{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px #484d50 solid;
}